<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <span class="mainTitle">NHS Search UI</span>
        </div>
        <div class="col-xs-8">
             <img src="http://www.nhs.uk/img/header/choices-logo.gif" width="212" height="35">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <p class="searchText">
                <input class="inputSearch" ng-model="$ctrl.query"
                       placeholder="Type your question here..."
                       ng-keyup="$event.keyCode == 13 && $ctrl.search()">
            </p>

        </div>
        <div class="col-xs-4">
            <p class="searchButton">
                <button ng-click="$ctrl.search()">search</button>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10">
            <!--Body content-->

            <ul class="results">
                <li ng-repeat="result in $ctrl.results"
                class="result-list-item">
                    <p>
                        <a href="{{result.fields.URL}}">{{result.fields.TITLE}}</a>
                    </p>
                    <span>{{result.fields.DESCRIPTION}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>