body {
   padding-top: 20px;
 }

.results {
  list-style: none;
}

.results li {
  clear: both;
  padding-top: 10px;
}

.mainTitle {
    font-size: 26px;
}
.inputSearch {
    width: 100%;
}

.searchText {
    padding-top: 15px;
}

.searchButton {
    padding-left:-15px;
    padding-top: 15px;
}