.result-list-item.ng-enter,
.result-list-item.ng-leave,
.result-list-item.ng-move {
  transition: 0.5s linear all;
}

.result-list-item.ng-enter,
.result-list-item.ng-move {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.result-list-item.ng-enter.ng-enter-active,
.result-list-item.ng-move.ng-move-active {
  height: 55px;
  opacity: 1;
}

.result-list-item.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.result-list-item.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}


/** main view transitions for change route**/

.view-container {
  position: relative;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
  background: white;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.view-frame.ng-enter {
  animation: 1s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  animation: 1s fade-out;
  z-index: 99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}
